body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9fafc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

  }
  /* modal container */
  .modal {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 8px 15px 0px #1414141F;
    width: 370px;
    overflow: hidden;
    border: 1px  solid white;
    min-height: 326px;
    height: fit-content;
  }
  
  .modal-content {
    padding: 10px 15px 10px 22px;
  }
  
  /* checkbox styles */
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    height: 42px;
  }
  
  /* hide  checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

  }
  
  .checkmark {
    height: 23px;
    width: 23px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2469F6;
    border-color: #2469F6;
  }
  
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark::after {
    display: block;
    left: 8px;
    top: 1px;
    width: 7px;
    height: 16px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
  /* checkbox hover effect */
.checkbox-container:hover .checkmark {
    border-color: #2469F6; 
    background-color: #2469F6; 
    transition: border-color 0.2s ease, background-color 0.2s ease;
  }
  
  /* show check mark  on hover */
  .checkbox-container:hover .checkmark::after {
    content: "";
    position: absolute;
    display: block;
    left: 8px;
    top: 1px;
    width: 7px;
    height: 16px;
    border: solid #fff; 
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
  
  /* Checked state */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2469F6;
    border-color: #2b7cff;
  }
  
  /*  Style when hecked */
  .checkbox-container input:checked ~ .checkmark::after {
    border-color: white; 
  }
  
  
  hr {
    border: none;
    height: 1px;
    background: #e0e0e0;
    margin: 10px 0;
  }
  .btn-container{
   min-height: 60px;
  }
  /* btn  */
  .done-btn {
    background: #FFCE22;
    border: none;
    color: #000;
    font-size: 14px;
    /* font-weight: bold; */
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight:normal;

  }
  
  .done-btn:hover {
    background: #e6b800;
  }
  



